---
import { Image } from "astro:assets";
import npkillFooterImg from "../../public/img/npkill-text-outlined.svg";
---

<footer class="footer">
  <div class="content">
    <Image
      class="npkill-title"
      src={npkillFooterImg}
      alt="npkill text logo"
      width="500"
    />
    <p>
      <img
        alt="npm year downloads"
        src="https://img.shields.io/npm/dy/npkill.svg"
      />
      <a
        href="https://github.com/voidcosmos/npkill#coffee-buy-us-a-coffee"
        target="_black"
        ><img
          src="https://img.shields.io/badge/donate-<3-red"
          alt="Donations Badge"
        /></a
      >

      <img alt="npm version" src="https://img.shields.io/npm/v/npkill.svg" />
      <!-- <img alt="npm bundle size" src="https://img.shields.io/bundlephobia/min/npkill.svg"> -->
      <img alt="MIT license" src="https://img.shields.io/npm/l/npkill.svg" />
    </p>

    <p>
      Made with <svg
        xmlns="http://www.w3.org/2000/svg"
        width="15"
        height="15"
        viewBox="0 0 122.88 107.39"
        ><defs
          ><style>
            .cls-1 {
              fill: #ed1b24;
              fill-rule: evenodd;
            }
          </style></defs
        ><title>red-heart</title><path
          class="cls-1"
          d="M60.83,17.18c8-8.35,13.62-15.57,26-17C110-2.46,131.27,21.26,119.57,44.61c-3.33,6.65-10.11,14.56-17.61,22.32-8.23,8.52-17.34,16.87-23.72,23.2l-17.4,17.26L46.46,93.55C29.16,76.89,1,55.92,0,29.94-.63,11.74,13.73.08,30.25.29c14.76.2,21,7.54,30.58,16.89Z"
        ></path></svg
      >
    </p>
  </div>
</footer>

<style>
  .content {
    text-align: center;
  }

  .npkill-title {
    opacity: 0.7;
    transition: 0.3s;
    width: 100%;
    max-width: 500px;
  }

  .npkill-title:hover {
    opacity: 1;
  }
</style>
