---
import NpkillTerminal from "./NpkillTerminal.astro";
---

<div class="root">
  <div class="title-container">
    <h1>NP<span style="color:#CE0B10">KILL</span></h1>
    <!--<img alt="package version" src="https://img.shields.io/npm/v/npkill?label=%20&amp;style=flat-square">-->
  </div>

  <div>
    📦 <span class="node-modules">node_modules</span> under your control
  </div>

  <NpkillTerminal />
</div>

<style>
  .root {
    text-align: center;
    font-size: 1.4em;
    background: #13151a;
    color: white;
    --grid-opacity: 0.03;
    --line-width: 0.03em;
    background-image: linear-gradient(
        rgba(255, 255, 255, var(--grid-opacity)) var(--line-width),
        transparent var(--line-width)
      ),
      linear-gradient(
        90deg,
        rgba(255, 255, 255, var(--grid-opacity)) var(--line-width),
        transparent var(--line-width)
      );
    background-size: 20px 20px;
    padding-top: 90px;
    position: relative;
    overflow: hidden;
  }

  h1 {
    margin: 0;
    font-size: 4em;
  }

  .root:after {
    content: "";
    background-color: white;
    display: block;
    right: -45px;
    left: -45px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: -35px;
  }

  .node-modules {
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .root {
      font-size: 1em;
    }
  }
</style>
