<div class="root">
  <div>Npkill</div>

  <div class="spacer"></div>

  <div class="links">
    <a href="#">What is npkill</a>
    <a href="#">How to use</a>
  </div>
</div>

<style>
  .root {
    position: fixed;
    color: white;
    z-index: 10;
    width: 100%;
    padding: 0 52px;
    box-sizing: border-box;
    justify-content: center;

    display: flex;
    display: none;
  }

  .spacer {
    flex-grow: 1;
  }

  .links {
    display: flex;
    gap: 24px;
  }

  .links a {
    color: white;
    text-decoration: none;
  }
</style>
