---
interface Props {
  type: "warning";
  title?: string;
}

const { type, title } = Astro.props;
---

<div class:list={["root", { warning: type === "warning" }]}>
  {title && <div class="title">{title}</div>}

  <p>
    <slot />
  </p>
</div>

<style>
  .root {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    padding: 30px 16px;
    text-align: center;
  }

  .title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1;
  }

  .warning {
    background: #f9e900;
    background-size: 50px;
  }
</style>
